<h1>Login</h1>

<form>
    <label for="email">email</label>
    <input type="text" name="email">
    <label for="password">password</label>
    <input type="password" name="password">
    <button type="submit">Log in</button>
</form>