<h1>Products</h1>

<div class="container">
     <form action="/products" method="post">
             <label for="title">Title</label>
             <input type="text" id="title" name="title">

             <label for="price">Price</label>
             <input type="number" id="price" name="price" min="0.00" max="10000.00"  step="0.01">

             <label for="discount">Discount</label>
             <input type="text" id="discount" name="discount">

             <label for="quantity">Quantity</label>
             <input type="number" id="quantity" name="quantity" min="1" max="50">
          
              <button type="submit" value="Submit" class="btn">Submit</button>
       </form>
</div>
