{{#each}}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="card-text">{firstName} {lastName}</h5>
    <p class="card-text">{job}</p>
  </div>
</div>
{{/each}}